@model MVS_Prg.Models.Airline


<h2>Додати авіакомпанію</h2>
<form asp-action="CreateAirline" asp-controller="home">
    <p>
        <label asp-for="AirlineName">AirlineName</label><br />
        <input type="string" asp-for="AirlineName" />
    </p>
    <p>
        <label asp-for="Plane_quont">Plane_quont</label><br />
        <input type="int" asp-for="Plane_quont" />
    </p>
    <p>
        <label asp-for="Route_quont">Route_quont</label><br />
        <input type="int" asp-for="Route_quont" />
    </p>
    <p>
        <input type="submit" value="Відправити" />
    </p>
</form>


