@model Asp_net_core_mvc.Models.Plane

<h2>Додати літак</h2>
<form asp-action="CreatePlane" asp-controller="home">
    <p>
        <label asp-for="Airline">Airline</label><br />
        <select asp-for="Airline_id" asp-items="ViewBag.AirIds" class="form-control">
            <option value="">Оберіть айді авіалінії</option>
        </select>
    </p>
    <p>
        <label asp-for="Airline_Name">Airline_Name</label><br />
        <input type="string" asp-for="Airline_Name" />
        <span asp-validation-for="Airline_Name"></span>
    </p>
    <p>
        <label asp-for="Flight_Id">Flight_Id</label><br />
        <input type="int" asp-for="Flight_Id" />
        <span asp-validation-for="Flight_Id"></span>
    </p>
    <p>
        <label asp-for="Max_Plane_Quont">Max_Plane_Quont</label><br />
        <input type="int" asp-for="Max_Plane_Quont" />
        <span asp-validation-for="Max_Plane_Quont"></span>
    </p>
    <p>
        <label asp-for="Pilote_Quont">Pilote_Quont</label><br />
        <input type="int" asp-for="Pilote_Quont" />
        <span asp-validation-for="Pilote_Quont"></span>
    </p>
    <p>
        <label asp-for="Flight_Attendant_Quont">Flight_Attendant_Quont</label><br />
        <input type="int" asp-for="Flight_Attendant_Quont" />
        <span asp-validation-for="Flight_Attendant_Quont"></span>
    </p>
    <p>
        <label asp-for="Carrying_Capacity">Carrying_Capacity</label><br />
        <input type="double" asp-for="Carrying_Capacity" />
        <span asp-validation-for="Carrying_Capacity"></span>
    </p>
    <p>
        <label asp-for="Fuel_Consumption">Fuel_Consumption</label><br />
        <input type="double" asp-for="Fuel_Consumption" />
        <span asp-validation-for="Fuel_Consumption"></span>
    </p>
    <p>
        <input type="submit" value="Відправити" />
    </p>
</form>

        @section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        }